@import 'variables';

.education-list {
  h3 {
    color: #ec7263;
  }
  li {
    width: 100%;
    display: flex;

    .year {
      width: 80px;
      padding-left: @base-padding;
      margin-top: 5px;
    }
    .education {
      width: 100%;
      background-color: @gray;
      margin-bottom: @base-margin;
      padding-left: @base-padding;
      padding-bottom: @base-padding;
    }
  }
}
